.bound {
  padding: .16rem;
}
ul {
  margin-top: .1rem;
  display: flex;
  position: relative;
  height: auto;
  width: auto;
}
.bound li {
  flex: 1;
  height: .46rem;
  line-height: .46rem;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 2px;
  border-right: 0;
  font-size: .23rem;
  position: relative;
}
.bound li:last-child {
  border-right: 1px solid #ccc;
}
.bound li:nth-of-type(1) {

}
.bound li span {
  display: block;
  height: .46rem;
  line-height: .46rem;
  text-align:center;
}
/* 光标闪烁动画 */
@-webkit-keyframes move {
  0%{
    opacity: 0;
  }
  50%{
    opacity: 1;
  }
  100%{
    opacity: 0;
  }
}
/* 闪烁的光标 */

ul .cursor-box {
  position: absolute;
  left: 50%;
  top: 0;
  padding: .1rem 0;
  margin-left: -1px;
  width: 2px;
  height: 100%;
  box-sizing: border-box;
  animation: 1s move infinite;
  -webkit-animation: 1s move infinite;
  display: none;
}
ul .cursor {
  height: 100%;
  width: 2px;
  background-color: #26a2ff;
}

